:root {
    --background-color: black;
    --main-color: white;
}

body {
    margin: 0;
    background-color: var(--background-color);
    height: 100dvh;
}

.header {
    margin-top: 150px;
    color: var(--main-color);
    font-family: LemonMilk;
    font-size: 60px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.container {
    max-width: 85%;
    margin: 100px auto;
    display: flex;
    height: auto;
    flex-direction: row;
}
.info {
    width: 15%;
    display: flex;
    flex-direction: column;
}
.story {
    width: 85%;
    font-family: LetteraMono;
    font-weight: 1;
    font-size: 20px;
    text-align: justify;
}
p {
    margin: 0;
    font-family: LetteraMono;
    font-weight: 300;
    color: #dfdfdf;
}
.h {
    font-weight: 500;
    margin: 20px 0;
    color: #ffffff;
    font-family: LemonMilk;
}
.b {
    font-weight: 700;
    color: #ffffff;
}
.space {
    height: 100px;
}
.story a {
    color:blueviolet;
    cursor:var(--cur-link), pointer;
}
.story a:hover {
    color: color-mix(in srgb, blueviolet, white 40%);
}
.story p {
    margin: 10px 0;
}

.pinfo {
    margin-bottom:70px;
}

/**For mobile**/
@media (max-width: 1025px) {
    .info {
        margin-right: 40px;
    }
}
@media (max-width: 860px) {
    .info {
        margin-right: 40px;
    }
    .container {
        flex-direction: column;
    }
    .info {
        flex-direction: row;
        width: 100%;
        margin-bottom: 50px;
    }
    .pinfo {
        margin-bottom: 0;
        margin-right: 50px;
    }
    .story {
        width: 100%;
    }
}
@media (max-width: 426px) {
    .info {
        justify-content: space-between;
    }
    .pinfo {
        margin: 0;
    }
    .story {
        font-size: 15px;
    }
}
@media (max-width: 321px) {
    .story {
        font-size: 12px;
    }
    .info {
        font-size: 14px;
    }
    .header {
        font-size: 40px;
        margin-bottom: -40px;
    }
}
