:root {
    --main-color:white;
    --background-color:black;
}
body {
    background-color: var(--background-color);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    margin-top: 90px;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: var(--cur-link);
    aspect-ratio: 16 / 9;
    background-color: rgb(73, 73, 73);
}
.gallery-item:hover {
    cursor: var(--cur-link), pointer;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease, filter .3s ease;
}
.gallery-item:hover img {
    transform: scale(1.1);
}
.gallery-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0,0,0,1), transparent);
    padding: 15px 10px 10px;
    color: #ffffff;
    font-family: LemonMilk;
}
.gallery-name {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 3px;
}
.gallery-game {
    font-size: 10px;
    color: #aaaaaa;
}
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.lightbox.active {
    display: flex;
}

.lightbox img {
    width: 85%;
    height: 85%;
    object-fit: contain;
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 60px;
    cursor: var(--cur-link), pointer;
    z-index: 1001;
    background: none;
    border: none;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}