:root {
    --link-border-radius: 15px;

    --background-color:#27231e;
    --main-color:rgb(255, 231, 216);
    --acc-color:rgb(155, 134, 94);
    --3rd-color:rgb(235, 216, 191);
    --highlight-color: rgb(223, 192, 135);
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    font-family: Legendary;
    line-height: .4;
    margin-top: 150px;
}
.avatar {
    width: 12.5%;
    aspect-ratio: 1 / 1;
    border-radius: 5%;
    border: solid 5px var(--acc-color);
    margin-bottom: -20px;
    user-select: none;
    -webkit-user-drag: none;
}
.hello {
    color:var(--main-color);
    font-size:70px;
    margin-bottom: -7px;
}
.these {
    color: var(--main-color);
    font-size:60px;
    margin-bottom: 20px;
}
.links {
    width: 550px;
    max-width: 90vw;
    margin-top: 20px;
    user-select: none;
    -webkit-user-drag: none;
}

/*Links themselves*/
.LinksContainer1 {
    align-self: center;
    /*border: solid hotpink 2px;*/
    width: 100%;
    margin-top: 50px;
}.LinksContainer2 {
    /*border: solid gold 2px;*/
    width: 42.5%;
    justify-self: center;
}
.link {
    width: 100%;
    height: 75px;
    /*border: dashed 2px red;*/
    margin-bottom: 20px;
}

body {
    background: var(--background-color)
}

.mobileNavbar {
    background-color: var(--background-color);
    border-color: var(--main-color);
}
.mobileActive {
    background-color: var(--background-color);
    border-color: var(--main-color);
}
.mobileNavbar a.icon {
    color: var(--main-color);
}
.mobileNavbar a {
    color: var(--main-color);
}

.link-container {
    display: flex;
    transition: 0.2s ease;
    position: relative;
    width: 100%;
    height: 100%
}
/* Long red bar */
.link-main-bar {
    box-sizing: border-box;
    /*Text styling*/
    font-family: Legendary;
    font-size: 25px;
    align-content: center;
    padding-left: 85px;
    color: var(--main-color);

    justify-self: center;
    align-self: center;
    position: absolute;
    width: 100%;
    height: calc(100% - var(--link-border-radius));
    background-color: var(--link-color);
    border-radius: 10px;
    z-index:0;
}
/* Side red square */
.link-side-square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--link-color);
    border-radius: var(--link-border-radius);
}
/* Cyan rounded box inside */
.link-image-box {
    --border-width: 7px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    height: calc(100% - 2 * var(--border-width));
    width: calc(100% - 2 * var(--border-width));
    aspect-ratio: 1 / 1;
    background-color: var(--3rd-color);
    justify-self: center;
    align-self: center;
    border-radius: calc(var(--link-border-radius) - var(--border-width));
    z-index:2;
}
.link-container:hover {
    cursor: var(--cur-link), pointer;
    filter: brightness(1.1) drop-shadow(0 10px 10px rgb(0, 0, 0));
    transform: translateY(-7px) scale(1.02);
}
.twitchholder {
    transition: .2s ease;
    /*outline: dotted 5px yellow;*/
    height: 500px;
    position:relative;
}
.twitch-view {
    box-sizing: border-box;
    position: absolute;
    top:5%;
    left: 2.5%;
    bottom:0;
    right:2.5%;
    background-color: var(--3rd-color);
    background-size: cover;
    border: 10px solid;
    border-color: var(--link-color);
    border-radius: var(--link-border-radius);
    z-index: -1;
}
.twitchholder:hover {
    cursor: var(--cur-link), pointer;
    filter: brightness(1.1) drop-shadow(0 10px 10px rgb(0, 0, 0));
    transform: translateY(-7px) scale(1.02);
}
.link-container.twitch:hover {
    filter: none;
    transform: none;
}
.twitch-embed-parent {
    margin-top: 45px;
    height: calc(100% - 65px);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: bottom;
}
.twitch-embed {
    aspect-ratio: 16/9;
    height: 100%;
    top:0;
    left:0;
    bottom:10%;
    right:0;
    border-radius: 15px;
}
/*For vertical screens like mobile*/
@media (max-width: 768px) and (orientation: portrait), (max-aspect-ratio: 3/4) {
    .link-main-bar {
        padding-left: 67.5px;
        padding-right: 5%;
        font-size: 20px;
    }
    .LinksContainer2 {
        width: 90%;
    }
    .link {
        height: 65px;
    }
    .hello {
        font-size:50px;
    }
    .these {
        font-size:40px;
    }
    .avatar {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 5%;
    border: solid 5px var(--acc-color);
    margin-bottom: -10px;
    user-select: none;
    -webkit-user-drag: none;
    }
    .twitch-view {
        display: none;
    }
    .twitchholder {
        height: auto;
    }
    .link-container.twitch:hover {
        cursor: var(--cur-link), pointer;
        filter: brightness(1.1) drop-shadow(0 10px 10px rgb(0, 0, 0));
        transform: translateY(-7px) scale(1.02);
    }
}



::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 5px;
}::-webkit-scrollbar-thumb:hover{
    background-color: var(--highlight-color);
}::-webkit-scrollbar-thumb:active{
    background-color: var(--acc-color);
}


::-webkit-scrollbar-track{
    background-color: transparent;
}