/**Fontdiner Swanky Font**/
@font-face {
    font-family: 'Swanky';
    src: url('../font/FontdinerSwanky/Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/**Playwrite Font**/
@font-face {
    font-family:'Playwrite HU Light';
    src: url('../font/Playwrite/PlaywriteHU-Light.ttf');
}
@font-face {
    font-family:'Playwrite HU';
    src: url('../font/Playwrite/PlaywriteHU-Regular.ttf');
}

/**ChowderheadMedium Font**/
@font-face {
    font-family: 'Legendary';
    src: url('../font/ChowderheadMedium/medium.ttf');
    font-weight: normal;
    font-style: normal;
}

/**Instagram Sans Font**/
@font-face {
    font-family: 'Instagram Sans';
    src: url('../font/Instagram Sans/Instagram Sans Headline.woff');
    font-weight: normal;
    font-style: normal;
}

/**Kill the Noise Font**/
@font-face {
    font-family: 'KilltheNoise';
    src: url('../font/KilltheNoise/Kill the Noise.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/**Lemon Milk Font**/
@font-face {
    font-family: LemonMilk;
    src: url('../font/LemonMilk/Lemon Milk Pro Ultra Light.otf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: LemonMilk;
    src: url('../font/LemonMilk/Lemon Milk Pro Ultra Light Italic.otf');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: LemonMilk;
    src: url('../font/LemonMilk/Lemon Milk Pro Regular.otf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: LemonMilk;
    src: url('../font/LemonMilk/Lemon Milk Pro Regular Italic.otf');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: LemonMilk;
    src: url('../font/LemonMilk/Lemon Milk Pro Medium.otf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: LemonMilk;
    src: url('../font/LemonMilk/Lemon Milk Pro Medium Italic.otf');
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: LemonMilk;
    src: url('../font/LemonMilk/Lemon Milk Pro Bold.otf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: LemonMilk;
    src: url('../font/LemonMilk/Lemon Milk Pro Bold Italic.otf');
    font-style: italic;
    font-weight: 700;
}
/*END OF FONTS*/


/*------------*/
/**VARIABLES**/
/*-----------*/
:root {
    --cur-normal: url('../img/cursor/pointer.cur');
    --cur-link: url('../img/cursor/link.cur');
    --cur-account: url('../img/cursor/account.cur');
    --cur-cross: url('../img/cursor/cross.cur');
    --cur-help: url('../img/cursor/help.cur');
    --cur-text: url('../img/cursor/text.cur');
    --cur-no: url('../img/cursor/unavailiable.cur');
}


body, html {
    cursor: var(--cur-normal), default;
    display:flex; flex-direction: column;
}


.navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: flex;
    border:0 transparent;
}
.navbarQuote {
    font-family: "Instagram Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;     
    overflow:hidden;
    align-items: flex-start;

    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    padding-left: 20px;

    color: var(--text-color);
    transition: color 0.3s ease;
    height: 100%;
    width: 75%;

    text-align: left; 

    white-space: nowrap;
}
.navbarLinks {
    display: inline-flex;
    height: 100%;
    justify-content: end;
    width: 75%;
    padding-right: 20px;
}
.navbarElement {
    --text-color: black;

    transition: color 0.3s ease;
    position:relative;
    cursor: var(--cur-link), pointer;
    /*Text*/
    display: block;
    box-sizing: border-box;
    font-family: 'LemonMilk';
    color: var(--text-color);
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;

    align-content: center;
    justify-content: center;
    text-align: center;
    text-justify: center;

    padding-left:10px;
    padding-right:10px;
    border: dashed 3px rgba(255, 255, 0, 0);
    height: 100%;
    padding-top:0;padding-bottom:0;
}
.navbarElement::after {
    content:'';
    position:absolute;
    bottom:10px;right:10px;
    width:0%;
    height: 3.25px;
    background-color: var(--text-color);;
    transition: width 0.3s ease;
    border-radius: 1.5px;
}
.navbarElement:hover::after, .navbarElement:focus::after {
    left:10px;
    right:10px;
    width:calc(100% - 20px);
}

.footer {
    --text-color: white;
    --background-color:black;
    background-color: var(--background-color);
    margin-top: auto;
    height: 100px;
    width: 100%;
    border-top: solid var(--text-color) 2px;
    display: flex;
    justify-self: baseline;
}
.footer-text {
    color:var(--text-color);
    font-family: LemonMilk;
    font-size: 30px;
    width: 50%;
    height: 100%;
    align-content: center;
    justify-content: center;
    text-align: left;
    text-justify: center;
    padding-left: 25px;
    font-weight: 300;
}
.footer-link {
    width: 50%;
    height: 100%;
    align-content: center;
    justify-content: center;
    text-align: right;
    text-justify: center;
    padding-right: 25px;
}
.footer-link a {
    color:var(--text-color);
    font-family: LemonMilk;
    text-decoration: none;
    font-weight: 300;
    font-size: 30px;
}
.footer-link a:hover {
    cursor: var(--cur-link), pointer;
}

.mobileNavbar {
    display: none;
    position: fixed;
    top:0px;
}

@media (max-width: 768px) {
    .footer {
        display: none;
    }
}



@media (max-width: 1440px) {
    .navbarQuote {
        display: none;
    }
    .navbarLinks {
        width: 100%;
    }
}


/**Navbar on mobile**/
@media (max-width: 768px) {
    .navbarContainer {
        display: none;
    }

    .mobileNavbar {
        position: fixed;
        top:0px;
        border-bottom: solid 2px white;
        display:block;
        overflow: hidden;
        background-color: #000000;
        z-index: 10000;
        width: 100%;
    }

    .mobileNavbar #myLinks {
        display: none;
    }

    .mobileNavbar a {
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        font-family: LemonMilk;
        color: white;
    }

    .mobileNavbar a.icon {
        font-size: 31;
        color: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        aspect-ratio: 1;
    }

    .mobileActive {
        background-color: black;
        color: white;
        border-bottom: solid 2px white;
        font-weight: 400;
        font-size: 22.5px;
    }
}